* {
    box-sizing: border-box;
}
h1 {
	font-size: 20px;
	color: antiquewhite;
	font-family: Arial, Helvetica, sans-serif;
	
}
h2{
	font-size: 50px;
	color: antiquewhite;
	font-family: Arial, Helvetica, sans-serif;
}

h3 {
	font-size: 50px;
	color: antiquewhite;
	font-family: Arial, Helvetica, sans-serif;
}
p {
	font: size 30px;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
}
.container {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}
.intro{
	display:flex;
	font-family: 'Montserrat Alternates', sans-serif;
}



.moving-glow:before, .moving-glow:after {
	content: '';
	position: absolute ;
	left: -100px;
	top: -100px;
	background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
		#0000ff, #00ff00,#ffff00, #ff0000);
	background-size: 1000%;
	width: 1700px;
	height: 3100px;
	z-index: -1;
	animation: anim-moving-glow 100s linear infinite;
  
}
@keyframes anim-moving-glow {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}
	
.moving-glow:after {
	filter: blur(100px);
}
nav {
	float:right; 
}
nav ul {
	margin: 800px
	padding-left= 1000px;
}
nav li {
	display:-webkit-inline-box	
	
}
nav a{
	font-size: 50px;
	display:-webkit-inline-box	
}
nav a:hover{
	color: maroon;
	text-decoration: midnightblue;
	text-transform: uppercase;
	font-size: 100px;						
}



